.g-book {
  min-width: 1000px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .min-title {
    position: fixed;
    top: 4px;
    left: 20px;
    color: rgb(145, 145, 145);
    font-size: 10px;
  }
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap ;
    overflow-y: auto;
  }
  .content-title {
    position: fixed;
    top: 0px;
    left: 20px;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color:rgb(0, 0, 0);
    z-index: 20;
  }
  .fixed-div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 22;
    display: flex;
    .fixed-div-left, .fixed-div-right, .fixed-div-center {
      flex: 1;
      height: 100%;
    }
  }
}

.item-bg-color:hover,
.item-font-size:hover,
.drawer-back:hover,
.menu-title:hover {
  cursor: pointer;
}


.ant-drawer-body {
  padding: 0;
  .drawer-affix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 256px;
    height: 200px;
    background-color: rgb(216, 216, 216);
    padding: 10px 24px;
  }
  .drawer-back {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: rgb(113, 26, 226);
  }
  .drawer-item {
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-self: start;
    align-items: center;
  }
  .drawer-page-turn {
    height: 60px;
    .drawer-switch {
      height: 30px;
      line-height: 30px;
    }
    .drawer-switch-speed {
      height: 30px;
      line-height: 30px;
      display: flex;
      justify-self: start;
      align-items: center;
    }
  }
  .drawer-font-size {
    width: 40px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-left: 20px;
    background-color: rgb(113, 26, 226);
    color: #fff;
    border-radius: 4px;
  }
  .drawer-font-size-inactive {
    background-color: #ccc;
  }
  .drawer-item-bg {
    display: flex;
    justify-self: start;
    align-items: center;
    background-color: rgb(216, 216, 216);
    flex-wrap: wrap;
    .drawer-bg-color {
      width: 20px;
      height: 20px;
      border-radius: 15px;
      margin-left: 8px;
    }
    .drawer-bg-color-active {
      border: 1px solid rgb(255, 84, 61);
    }
    .menu-title {
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      background-color: #fff;
    }
  }
  .drawer-menu {
    position: relative;
    top: 180px;
    overflow: auto;
    .menu-title {
      color: rgb(21, 126, 247);
    }
    .active-menu {
      color: rgb(255, 84, 61);
      font-size: 16px;
    }
  }
}
